/* untuk tanda (*) untuk semua full text */
* {
    font-family: Mulish, sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .background-login {
    margin: 0pxs;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    padding: 0px;
   
  }
  
  /* .wrap-background {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      animation: slide 1s infinite;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
    } */
  
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    /* align-items: center; */
  }
  
  .nav-nature {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: -122px;
    margin-left: -20px;
  }
  
  .nav-location {
    /* display: flex; 
      flex-direction: row; */
    border: 0px;
    background-color: rgb(195, 245, 207);
    border-radius: 20px;
    align-items: left;
    font-family: "Lucida Sans Unicode";
    margin: 0px 100px;
    padding: 8px 100px 8px 20px;
    /* atas kanan bawah kiri */
  }
  
  .nav-location:hover {
    cursor: pointer;
    background-color: white;
    color: gray;
  }
  
  .btn-border {
    border: 0px rgb(230, 234, 231);
    background-color: rgb(195, 245, 207);
    padding-top: 20px;
    padding: 12px 25px;
    border-radius: 50px;
    font-weight: 900;
    font-size: 18px;
    color: rgb(31, 95, 31);
  }
  
  .btn-border:hover {
    cursor: pointer;
    background-color: rgb(31, 95, 31);
    color: white;
  }
  
  .btn-text {
    border: 0;
    background-color: transparent;
    color: rgb(195, 245, 207);
    font-weight: 900;
    font-size: 18px;
  }
  
  .btn-text:hover {
    cursor: pointer;
    color: rgb(31, 95, 31);
    transition: color 250ms ease-in-out;
  }
  
  /* BAGIAN TENGAH */
  
  .page-title {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    background-color: transparent;
  }
  
  .title-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: rgb(31, 95, 31);
  }
  
  .title-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lucida Sans Unicode";
    font-weight: bold;
    font-size: 20px;
    color: rgb(195, 245, 207);
    padding: 12px 16px;
  }
  
  .try-free {
    border: 0px solid rgb(230, 234, 231);
    background-color: rgb(195, 245, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    padding: 12px 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    color: rgb(31, 95, 31);
  }
  
  .try-free:hover {
    cursor: pointer;
    background-color: rgb(31, 95, 31);
    color: white;
  }
  
  .beautiful-place {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(31, 95, 31);
    padding: 18px 16px;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 120px 0px;
  }
  
  .pulau {
    display: flex;
    flex-direction: column;
  }
  
  .pulau h6 {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
  }
  